global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 2000
    daemon

defaults
    mode http
    log global
    option  httplog
    option  dontlognull
    timeout client 1h
    timeout connect 10s
    timeout server 1h
    timeout http-request 10s

frontend http_front
    bind 127.0.0.1:80
    acl is_websocket path_beg /ws-service/
    acl is_realtime path_beg /realtime-service/
    use_backend websocket_backend if is_websocket
    use_backend realtime_app_backend if is_realtime
    default_backend default_backend

backend websocket_backend
    balance leastconn
    option http-server-close
    timeout tunnel 1h
    server server1 127.0.0.1:8000
    server server2 127.0.0.1:8001

backend realtime_app_backend
    server realtime_instance 127.0.0.1:8000 check

backend default_backend
    http-request deny
