global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 2000
    daemon
    tune.ssl.default-dh-param 2048

defaults
    mode http
    log global
    option  httplog
    option  dontlognull
    timeout client 1h
    timeout connect 10s
    timeout server 1h
    timeout http-request 10s

frontend http_front
    bind :80
    #http-request redirect scheme https unless { ssl_fc }
    default_backend default_backend

frontend https_front
    bind :443 ssl crt /ssl/certs/traderjam.online.pem
    http-request set-header X-Forwarded-Proto https
    acl is_websocket path_beg /ws-service/
    use_backend websocket_backend if is_websocket
    default_backend realtime_app

backend websocket_backend
    balance leastconn
    option http-server-close
    option forwardfor
    timeout tunnel 1h
    server server1 127.0.0.1:8000
    #server server2 127.0.0.1:8001

backend realtime_app
    option forwardfor
    server reactapp 127.0.0.1:9000

backend default_backend
    http-request deny
